/**** default Style Reset ****/
@font-face {
	font-family: Helvetica;
	src: url("fonts/Helvetica-Condensed-Light-Li.ttf");
}
@font-face {
	font-family: GeosansLight;
	src: url("fonts/GeosansLight.ttf");
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Helvetica, Arial, Lucida, sans-serif;
}
p {
	font-family: GeosansLight;
	font-weight: bold;
}
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	line-height: 1.2;
}
section {
    overflow-x: hidden;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	text-transform: uppercase;
}
.font-yellow{
	color: #E6C300;
}
.font-red{
	color: #0b1c42;
}
.font-white{
	color: #fff;
}
.red {
	color: #0b1c42;
}
.yellow {
	color: #E6C300;
}
.white {
	color: #fff;
}
.white .text {
    color: #fff;
}
.bg-black {
	background: #060724;
}
.bg-gray {
	background: #F0EDF1;
}
.bg-offRed {
	background: #C23937;
}
.bg-offWhite {
	background: #F9F9EF;
}
.title {
	margin-bottom: 30px;
}
.title .font-light {
	font-size: 38px;
}
.title-small {
	font-size: 25px;
}
.p-30 {
	padding: 30px 0;
}
.p-40 {
	padding: 40px 0;
}
.p-60 {
	padding: 60px 0;
}
.p-80 {
	padding: 80px 0;
}
.p-100 {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
.m-30 {
	margin: 30px 0;
}
.mb-20 {
	margin-bottom: 20px;
}
.w-30 {
	width: 30%;
	padding: 30px 15px;
}
.w-75 {
	margin: auto;
}
.vl {
	padding: 30px 0;
	border-left: 2px solid #E6C300;
}
.v-middle-wrapper {
	display: table;
}
.v-middle-wrapper .v-top {
	vertical-align: top;
	display: table-cell;
}
.v-middle-wrapper .v-middle {
	vertical-align: middle;
	display: table-cell;
}
.hero-banner .parallaxImg {
	background: url(images/head.html) no-repeat 0 0 / cover;
}
.about .parallaxImg {
	background: url(images/about.html) no-repeat 0 0 / cover;
}
.testimonials .parallaxImg {
   background: url(images/testimonial.html) no-repeat 0 0 / cover;
}
.testimonials .parallaxImg {
   background: url(images/contact.html) no-repeat 0 0 / cover;
}
.icon {
	width: 100%;
	height: 100px;
	padding: 0;
}
.icon img {
	width: 100px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
/* .icon:hover img {
	width: 90px;
} */
.font-icons .icon {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: 20px;
}
.font-icons .icon:last-of-type {
	margin-right: 0;
}
.font-icons .icon:before {
	position: absolute;
	left: 0;
	font-family: fontawesome;
	width: 35px;
	height: 35px;
	border-radius: 50px;
	line-height: 1.7;
	color: #000;
	font-size: 20px;
	background: #ffffff;
	text-align: center;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
/* .content-bottom .fa {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 20px;
} */
.content-bottom .fa-map-marker{
	position: absolute;
    left: 18px;
   /*  top: -40px; */
    font-size: 20px;
}
.content-bottom .fa-phone{
	position: absolute;
    left: 18px;
   /*  top: -40px; */
    font-size: 20px;
}
.content-bottom .fa-envelope{
	position: absolute;
    left: 10px;
    /* top: -40px; */
    font-size: 20px;
}

/* .map:before {
	content: "\f041";
} */
/* .message::before {
	content: "\f2b6";
} */
.facebook:before {
	content: "\f09a";
}
.twitter:before {
	content: "\f099";
}
.linkedin:before {
	content: "\f0e1";
}
/* .email:before {
	content: "\f1fa";
}
.phone:before {
	content: "\f095";
} */
.font-icons .icon:hover:before {
	opacity: .8;
	color: #111130;
    background: #fff;
	/* color: #ab0606;
	background: #000; */
}
.font-icons.no-bg .icon::before {
	background: transparent;
	color: #fff;
	font-weight: 100;
	font-size: 25px;
	line-height: 1.4;
}
.text.icon {
	padding-left: 40px;
	width: 100%;
	height: auto;
}
.whychooseus .bg-img{
	background: url("../images/ngk/13.jpeg") no-repeat 0 0 / cover;
	background-position: bottom;
	background-attachment: fixed;
}.ourclient .bg-img{
	background: url("../images/ngk/client-section.jpg") no-repeat 0 0 / cover;
	background-position: bottom;
	background-attachment: fixed;
}
/* .portfolio .bg-img{
	background: url("../images/jtt/bus2.jpg") no-repeat 0 0 / cover;
	background-position: bottom;
	background-attachment: fixed;
} */
 .whychooseus .icon img{
	padding: 10px;
    width: 70px;
} .whychooseus .subheading {
	font-weight: 700;
	/* padding: 20px; */
	text-transform: none;
	font-family: GeosansLight;
  font-size: 22px;
} .whychooseus .sub-heading{
	font-weight: 100;
} .whychooseus p{
	font-size: 20px;
	padding: 40px;
}.whychooseus .subheading {
	margin-bottom: 50px;
}.whychooseus .title h3{
	font-family: GeosansLight;
}

.ourclient img{
	/* padding: 10px; */
    width: 100px;
}.ourclient .title h2{
	font-family: GeosansLight;
}.ourclient h6{
	/* font-family: GeosansLight; */
	text-transform: none;
}
.ourclient .bg-img img {
    width: 200px;
}
.ourclient .icon{
    width: 100%;
	height: 100%;
}
.port .bg-img{
	border: 1px solid;
}
.abtbtn .btn{
	display: inline-block;
	text-transform: none;
	color: #ab0606;
	font-style: italic;
}
.click {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 75px;
    color: #000;
    font-size: 18px;
    font-style: italic;
}
.modal-dialog.modal-lg {
    margin: auto;
    width: 100%;
    top: 55px;

}
.portfolio .text:hover{
	line-height: 1.9;
	cursor: pointer;
	color: #fff;
}
.slick-dots li button::before{
	color: #fff;
	height: 20px;
	width:20px;
	font-size: 10px;
	line-height: 20px;
	top: 0;
	left:0;
	position: absolute;
}
/* .slick-dots li button::before:hover{
	color: #fff;
} */
.slick-dots li button:hover::before, .slick-dots li button:focus::before {
    opacity: 1;
	color: #ab0606;
}
.portfolio .bg-img:hover{
	/* line-height: 1.9; */
	/* cursor: pointer; */
	/* color: #fff; */
}
.bgproperty{
	background-size: 100% 100%;
background-repeat: no-repeat;
}
.modal-content {
    background: transparent;
    border: 0;
    color: #fff;
    background: rgba(0,0,0,.93);
    height: 75vh;
    overflow-y: hidden;
    padding: 10px;
    overflow: hidden;
        /* overflow-y: hidden; */
    overflow-y: auto;
    border: 2px solid white;
    margin-top: 5vh !important;
    position: relative;
}
.abtwidth {
    max-width: 1800px;
}
.aboutcontent{
    text-align: justify;
    font-family: geosanslight;
	line-height: 1.5;
	font-weight: 100;
}
.modal button.close {
    color: #fff;
    opacity: 1;
    font-weight: 100;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 14px;
    z-index: 1;
}

.backdrop-white{
	background-color: #FFFFFF;
  /* height: 100vh; */
}
.backdrop-black{
	background-color: #0d0f3ca1;
  /* height: 100vh; */
}
.backdrop-red{
	background-color: #66678b85;
  /* height: 100vh; */
}

.italic {
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
}
.text p, .text a, .text span {
	font-size: 19px;
	color: #fff;
	font-family: GeosansLight;
	line-height: 1.7;
}
.aboutmdl .texts p{
	font-size: 18px;
	color: #fff;
	font-family: GeosansLight;
}
.quote {
	padding-left: 30px;
	position: relative;
	padding: 100px 50px;
}
.quote:before {
	content: "";
	background-image: url("../images/quote_before.png");
	background-size: 100%;
	width: 120px;
	height: 100px;
	background-repeat: no-repeat;
	position: absolute;
	left: 20px;
	top: -25px;
}
.quote:after {
	content: "";
	background-image: url("../images/quote_after.png");
	background-size: 100%;
	width: 120px;
	height: 100px;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-top: -60px;
	position: absolute;
	right: 50px;
	bottom: 0;
}
.services .text {
	color: #fff;
}
.corporate{
    font-size: 22px;
}
.services .text:hover{
	color: #fff;
}
.header .fa.fa-home{
	color: #fff;
}
#ourclient .imgheading{
	font-size: 18px
}
form input, form textarea, form select {
	padding: 10px;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	width: 100%;
	margin: 5px 0;
	outline: 0;
	font-weight: bold;
	color: #fff;
	border: 0;
	background: rgba(0,0,0,0.4);
	font-size: 16px;
	font-family: GeosansLight;
}
form textarea {
	resize: none;
}
.error_msg {
	color: #E6C300;
}
.success_msg {
	color: #ab0606;
}
::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
	color: #fff;
	opacity: 1;
}
::-moz-placeholder {
   /* Firefox 19+ */
	color: #fff;
	opacity: 1;
}
:-ms-input-placeholder {
   /* IE 10+ */
	color: #fff;
	opacity: 1;
}
:-moz-placeholder {
   /* Firefox 18- */
	color: #fff;
	opacity: 1;
}
.about .title{
	font-weight: bold;
	font-family: GeosansLight;
}
.whychooseus .title{
	font-weight: bold;
	font-family: GeosansLight;
}
.services .title{
	font-weight: bold;
	font-family: GeosansLight;
}
.whychooseus .title{
	font-weight: bold;
	font-family: GeosansLight;
}
.ourclient .title{
	font-family: GeosansLight;
	font-weight: bold;
}
.portfolio .title{
	font-family: GeosansLight;
	font-weight: bold;
}
.testimonial h2{
	font-family: GeosansLight;
	font-weight: bold;
	/* z-index: 10; */
}
.btn {
	font-family: GeosansLight;
	font-weight: bold;
	display: block;
	margin: auto;
	text-transform: uppercase;
	border-radius: 50px;
	padding: 10px 40px;
	margin-top: 10px;
	cursor: pointer;
}
#services .overlay .text:hover {
    color:#ffffff;
}
.btn-black-form{
	background: #E6C300;
	color: #fff;
}
.btn-black-form:hover {
	background: #fff !important;
	color: #171634; !important;
}
.btn-black-form {
    background: #1c1946;
    color: #fff;
	font-size: 21px;
	/* font-style: italic; */
}
.btn-black:hover {
	opacity: .8;
}
/* .btn:hover, .btn:focus, .btn:active {
	background: #fff;
	color: #ab0606;
} */
.abtbtn .btn:hover{
	color: #fff;
	background: none;
}
.font-red.styling {
    font-style: italic;
    text-decoration: underline;
}
/****** fonts *****/
.font-light {
	font-weight: 100;
	font-family: GeosansLight;
}
.font-normal {
	font-weight: bold;
	font-family: GeosansLight;
}
/****** Slider *****/
.slider .slick-track {
	display: flex;
}
.slider .slide {
	margin: 15px;
	align-self: center;
}
.slider .slide img {
	width: 100%;
}
.slick-lightbox .slick-prev {
    z-index: 1;
}
.btn-bottom .slick-arrow {
	background: #C23937;
	font-size: 30px;
	color: #fff;
	width: 40px;
	text-align: center;
	font-weight: 100;
	line-height: 1.4;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	z-index: 1;
}
.btn-bottom .slick-arrow.fa-angle-right {
	right: calc(50% - 52px);
}
.btn-bottom .slick-arrow.fa-angle-left {
	left: calc(50% - 52px);
}
.btn-bottom .slick-list {
	margin-bottom: 40px;
}
iframe {
	width: 100%;
	height: 100%;
}
.video {
	height: 230px;
}
.logo {
	max-width: 170px;
	margin: auto auto 30px auto;
}
.logo img {
	width: 100%;
}
.bg-img {
	height: 100%;
	background-position: 0;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.bg-img img {
	width: 100%;
}
.overlay {
	position: relative;
}
/* .hero-banner.parallax .parallaxImg {
	background: url(../images/bus2.jpg) no-repeat 0 0 / cover;
	background-attachment: fixed;
} */

.bg-property{
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

}
.about.parallax .parallaxImg  {
	background: url(../images/ngk/inner-2.JPG) no-repeat 0 0 / cover;
	background-attachment: fixed;
}
.testimonials.parallax .parallaxImg  {
   background: url(../images/testimonial.html) no-repeat 0 0 / cover;
   background-attachment: fixed;
}
/**** header ****/
.header {
	position: fixed;
	top: 45px;
	right: 5%;
	left: 5%;
	width: 90%;
	padding: 0;
   /* background: #F6F4F5;
	*/
	background:#0c0c42;
	z-index: 2;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.header .logo {
	display: inline-block;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.header.setTop {
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
   /* background: rgba(255, 255, 255, 0.96);
	*/
   /* background: #E6C300;
	*/
	background: rgba(8, 9, 28, 0.88);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.header.setTop .logo {
	max-width: 110px;
	padding: 10px;
	position: static;
}
ul.main-nav>li {
	position: relative;
	display: inline-block;
}
ul.main-nav > li:last-of-type a::after {
	margin-right: 0;
	display: none;
}
ul.main-nav>li a {
	position: relative;
	display: inline-block;
	margin: 10px 0;
	color: #fff;
	font-size: 20px;
   /* font-weight: bold;
	*/
	font-family: GeosansLight;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
ul.main-nav>li a::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 80%;
	background: #fff;
	border-radius: 50%;
	bottom: 0;
	margin-left: 15px;
}
ul.main-nav>li:last-child a::after {
	display: none;
}
ul.main-nav>li.active>a, ul.main-nav>li a:hover, ul.main-nav>li a:focus {
	color: #ab0606;
}
.setTop ul.main-nav>li .active>a, .setTop ul.main-nav>li a:hover, .setTop ul.main-nav>li a:focus {
	color: #ab0606;
}
.subtitle {
	font-size: 20px;
	line-height: 1.3;
	padding-right: 30px;
	font-family: GeosansLight;
	text-align: justify;
}
.capitalize {
	text-transform: capitalize;
}
.hero-banner.parallax .parallaxImg {
	background-position: 100%;
}
.hero-banner.parallax .parallax-inner .text-wrapper .w-75 {
	padding: 0;
}
.hero-banner.parallax .parallaxImg {
    background: url(../images/ngk/gallery/04.jpeg) no-repeat 0 0 / cover;
    background-attachment: fixed;
}
.hero-banner .red.font-light {
	margin-bottom: 10px;
}
.content-bottom {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: left;
}
.appointment-form .field-wrapper {
	float: left;
	margin-bottom: 30px;
	text-align: center;
}
.appointment-form form input, .appointment-form form textarea, .appointment-form form select {
	width: calc(50% - 20px);
	margin: 10px;
	float: left;
	height: 40px;
}
.appointment-form form textarea {
	height: 41px;
}
/**** parallax ***/
.parallax {
	height: 100vh;
	background: transparent;
	position: relative;
}
.parallax .parallaxImg {
	background-attachment: fixed;
	-webkit-background-attachment: fixed;
	-moz-background-attachment: fixed;
	-o-background-attachment: fixed;

	/* background: url(“http://i1230.photobucket.com/albums/ee487/thomasmorel/homeafbeelding.png”) no-repeat fixed center center transparent;
-webkit-background-size: 1920px 960px;
-moz-background-size: cover;
background-size: cover; */

}
.parallax .parallaxImg img {
	width: 100%;
}
.parallax .parallax-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px 0;
	color: #020202;
	display: table;
	z-index: 1;
}
.parallax .parallax-inner .text-wrapper .w-50 {
	padding-left: 100px;
}
.parallax .parallax-inner .text-wrapper .text {
	width: auto;
	max-width: 800px;
	margin: 0 auto 20px auto;
	font-size: 25px;
	color: #ab0606;
	font-family: GeosansLight;
	font-weight: bold;
}
.parallax .parallax-inner .text-wrapper .icon {
	/* width: auto; */
	/* max-width: 800px; */
	/* margin: 0 auto 20px auto; */
	font-size: 25px;
	color: #fff;
	font-family: GeosansLight;
	font-weight: bold;
}
.galleryimg {
    overflow-y: hidden;
    background: none;
}
/* .galleryrow .bg-img{
	height: 270px;
overflow: hidden;
margin: 15px 0px;
/* } */
.galleryrow .group{
	height: 250px;
}
.parallax .parallax-inner .text-wrapper .text .title {
	color: #fff;
	margin-bottom: 30px;
}
.grid-3 [class*="col-"] {
	height: 250px;
	margin: 15px 0px;
}
.servicegallery .bg-img {
	position: relative;
	height: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: contain;
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background: none;
	background-size: 100%;
}
.gallery {
    /* height: 200px; */
    overflow: hidden;
}
.servicegallery .bg-img img {
	width: 100%;
}
#services .overlay {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 55px;
    -moz-box-shadow: inset 0 -52px 20px #000000e6;
    /* -webkit-box-shadow: inset 0 -52px 20px #000000e6; */
    /* box-shadow: inset 0 -52px 20px #000000e6; */
    background: rgb(20, 22, 52);
	border: 1px solid #fff;
	border-top: 0;
}
#services .overlay .text {
	font-family: GeosansLight;
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding: 0 15px;
	font-weight: bold;
}
.slick-lightbox-slick-item-inner {
	max-width: 80%;
}
/**** testimonials ***/
.testimonial .bg-img {
    background: url(../images/jtt/bus2.jpg) no-repeat 0 0 / cover;
    background-attachment: unset;
}
.testimonial .text {
	line-height: 1.8;
	font-size: 20px;
	text-align: justify;
   /* padding: 0 30px;	*/
}
.testimonial h5{
	font-family: GeosansLight;
	font-weight: bold;
}
.testimonial .author {
	font-family: GeosansLight;
	display: block;
	text-align: right;
	font-size: 22px;
	line-height: 1;
	margin-top: 20px;
}
.testimonial .btn-bottom .slick-list {
	margin-bottom: 0;
}
.text-right{
	font-family: GeosansLight;
	font-weight: bold;
}
.portfolio h4 {
    margin-top: 20px;
}
/**** contacts ***/
.hero-banner.overlay:before{
	content: "";
	position: absolute;
	background-color: #66678b85;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* z-index: 0; */
}
.about.overlay:before{
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 0.86)	;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* z-index: 0; */
}
.contacts.overlay:before{
	content: "";
	position: absolute;
	background-color: rgba(255,255,255,.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}
.hero-banner .container, .contacts .container {
	position: relative;
	z-index: 1;
}
.contacts .w-50 {
	margin: auto;
	max-width: 260px;
	text-align: left;
}
.contacts .logo {
	position: static;
}
.contacts .w-30 .desc {
	text-align: right;
}
.contacts .w-30 .desc .logo {
	margin-bottom: 30px;
}
.contacts .w-30 .contact-details p {
	font-family: Helvetica, Arial, Lucida, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}
.contacts p {
	font-family: Helvetica, Arial, Lucida, sans-serif;
}
.contacts a {
	color: inherit;
}
.contacts a:hover {
	color: #E6C300;
}
.contacts .fa {
	color: #fff;
	
	border-radius: 50%;
	width: 35px;
	height: 35px;
	text-align: center;
	font-size: 16px;
	line-height: 1.6;
	display: inline-block;
}
.contacts .location {
	height: 300px;
	overflow: hidden;
}
/**** footer ***/
.footer {
	background: #151638;
	color: #fff;
}
.footer * {
	font-family: GeosansLight;
	font-weight: bold;
}
.footer p {
	margin: 0;
}
.footer a {
	color: #fff;
	color: #3e64b9;
	font-weight: bold;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.footer a:hover {
	color: #fff;
}
.lightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
	opacity: 0;
	visibility: hidden;
	transition: all .6s ease-out;
	-webkit-transition: all .6s ease-out;
	-moz-transition: all .6s ease-out;
	-o-transition: all .6s ease-out;
}
.lightbox.active {
	visibility: visible;
	opacity: 1;
}
.lightbox .bg-img {
	position: relative;
	height: auto;
}
.lightbox .offer-close {
	position: absolute;
	right: 0;
	top: -10px;
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
	border-radius: 50%;
	line-height: 1.7;
	color: red;
	cursor: pointer;
}
.lightbox .offer-close .fa {
	font-size: 15px;
	background: #fff;
	padding: 7px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}